@import url("https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --primary-dark-cyan: hsl(158, 36%, 37%);
  --primary-cream: hsl(30, 38%, 92%);
  --neutral-very-dark-blue: hsl(212, 21%, 14%);
  --neutral-dark-grayish-blue: hsl(228, 12%, 48%);
  --neutral-white: hsl(0, 0%, 100%);
}

/* font-family: "Fraunces", serif;
font-family: "Montserrat", sans-serif; */
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: var(--primary-cream);
  font-family: "Montserrat", sans-serif;
}

img {
  display: block;
  max-width: 100%;
}

.container {
  max-width: 700px;
  padding: 1rem;
  margin: 0 auto;
}

.product-card {
  display: flex;
  flex-direction: column;
  border-radius: 12px;
  background-color: var(--neutral-white);
}

.product-img {
  overflow: hidden;
  max-width: 100%;
  border-radius: 12px 12px 0 0;
  object-fit: cover;
}

.product-details {
  padding: 1.25rem;
}

.product-category {
  margin-bottom: 0.75rem;
  opacity: 0.8;
  color: var(--neutral-dark-grayish-blue);
  letter-spacing: 3px;
  font-size: 0.8rem;
  font-weight: 600;
}

.product-name {
  line-height: 1;
  margin-top: 1rem;
  color: var(--neutral-very-dark-blue);
  font-family: "Fraunces", serif;
  font-size: 2rem;
}

.product-description {
  line-height: 1.5;
  margin-top: 1.25rem;
  color: var(--neutral-dark-grayish-blue);
  font-size: 0.9rem;
  font-weight: 500;
}

.product-price {
  display: flex;
  align-items: center;
  margin-top: 1.5rem;
  gap: 1rem;
}

.old-price {
  color: var(--neutral-dark-grayish-blue);
  font-size: 0.8rem;
  font-weight: 600;
  text-decoration: line-through;
}

.new-price {
  color: var(--primary-dark-cyan);
  font-family: "Fraunces", serif;
  font-size: 2rem;
}

.cta-btn {
  display: inline-block;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 1em 2em;
  margin-top: 1.25rem;
  border-radius: 12px;
  color: #fff;
  background-color: var(--primary-dark-cyan);
  transition: opacity 0.1s ease-in-out;
  font-size: 1rem;
  font-weight: bold;
  gap: 0.6em;
}

.cta-btn:hover,
.cta-btn:focus {
  opacity: 0.8;
}

@media screen and (min-width: 43em) {
  .product-card {
    flex-direction: row;
  }

  .product-img-container {
    display: flex;
    align-items: stretch;
  }

  .product-img {
    width: auto;
    height: 100%;
    border-radius: 12px 0 0 12px;
    object-fit: cover;
  }
  .product-details {
    max-width: 30ch;
    padding: 3rem;
  }
  .product-name {
    margin-top: 1.5rem;
  }
  .product-description {
    margin-top: 1.5rem;
  }
  .product-price {
    margin-top: 2rem;
  }
}
